body {
	background-color: #303030;
	font-family: "Helvetica", "Arial";
	font-size: 1em;
	color: white;
	line-height: 1.2em;
}

a,a:visited {
	color: #99ff00;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header {
	width: 95%;
	max-width: 50em;
	padding: 1em 0;
	margin: 0em auto;
}

section {
	width: 95%;
	max-width: 50em;
	margin: 0 auto;
	line-height: 1.4em;
	font-weight: 100;
	font-size: 0.9em;
	margin-top: 2.5em;
}

#dude {
	position: absolute;
	display: inline;
	z-index: -50;
}

h1 {
	padding-bottom: 1.6em;
}

#nav {
	position: relative;
	left: 10em;
	font-size: 1.1em;
	line-height: 1.9em;
	z-index: 1;
	letter-spacing: 10px;
}

@media only screen and (min-width: 35em) {

	body {
		font-size: 1.5em;
	}
	
	header,section {
		width: 80%;
	}
	
	#dude {
		position: absolute;
		display: inline;
		left: 1em;
		top: 1em;
		z-index: -50;
	}
}